@import "../../Styles/Constant";

// TODO 协调滚动

#mobile-navigation-bar.hide {
  top: -100px;
}

#mobile-navigation-bar {
  top: -100px;
  position: fixed;
  left: 0;
  width: 100vw;
  transition: $transition;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  z-index: 999;
  background-color: $background;
  height: $mobile-navigation-bar-height;

  @media (max-width: $small) {
    top: 0;
  }

  #mobile-navigation-bar-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4px 18px;

    #mobile-navigation-bar-title {
      display: flex;
      flex-direction: row;
      align-items: center;

      #mobile-navigation-bar-title-home-label {
        cursor: pointer;
        user-select: none;
        & h1 {
          font-size: 28px;
          font-family: $font;
          font-weight: normal;
          line-height: 34px;
          color: $label-color;
          margin-bottom: 0;
        }
      }
      .mobile-navigation-bar-title-route-label {
        height: 34px;
      }

      .mobile-navigation-bar-title-divider {
        display: block;
        width: 2px;
        height: 24px;
        background-color: $label-color;
        transform: rotateZ(30deg);
        margin-left: 8px;
        margin-right: 12px;
      }
    }
  }

  .mobile-navigation-bar-media-info {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mobile-navigation-bar-bottom-divider {
    background-color: $lighten-high-background;
    height: 1px;
    width: 100%;
  }
}