@import "../../Styles/Constant";
@import "../../Styles/Theme";

$link-item-margin-left: 21px;

// TODO 影响到其他地方了， 或将迁移写法 (detail: wechat 的二维码 popover)
// TODO popover 顶部小三角颜色
// TODO border-radius 未生效
.ant-popover-content {
  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner {
    border-radius: 6px !important;
    .ant-popover-inner-content {
      @include popover-background;

      padding: 5px !important;
      .navigation-link-popover {
        width: 200px;
        height: 200px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        .navigation-link-popover-item {
          user-select: none;
          border-bottom: none;
          transition: $transition;
          padding: 12px 16px;
          border-radius: 6px;
          margin-bottom: 3px;
          &:hover {
            @include lighten-high-background;
          }
          h4, span {
            margin-bottom: 0;
            font-family: $font;
            font-weight: normal;
            font-size: 17px;
            @include label-color;
          }
        }
        .navigation-link-popover-item.navigation-link-popover-item-selected {
          @include popover-selected;
        }
        .navigation-link-popover-item:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

#links-list, #links-list-passage-list {
  .links-list-item:nth-child(1) {
    margin-top: 0 !important;
  }

  .special-links-list-item {
    border-color: $blue-tint-color;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    transition: $transition;
    box-sizing: border-box;

    &:hover {
      background-color: $blue-tint-color;
      .links-list-item-label {
        color: $dark-style-tint-color-foreground !important;
      }
    }

    .links-list-item-label {
      color: $blue-tint-color !important;
    }

    .links-list-item-indicator-container {
      background-color: transparent !important;
      display: none !important;
      height: 0 !important;
      width: 0 !important;
    }
  }

  .links-list-item {
    @media (max-width: $small) {
      margin-top: 26px;
    }

    margin-left: 21px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      .links-list-item-label {
        @include label-color;
        z-index: 10;
      }
      .links-list-item-indicator-container .links-list-item-indicator {
        height: 19.5px;
        transform: translateY(-14px);
      }
    }

    .links-list-item-label {
      font-size: 22.5px;
      font-weight: bold;
      user-select: none;
      transition: $transition;
      @include label-link-normal-color;
    }

    .links-list-item-indicator-container {
      @media (max-width: $small) {
        height: 3px;
      }
      height: 5.25px;

      .links-list-item-indicator {
        display: block;
        width: 100%;
        height: 100%;
        transition: $transition;
        @include indicator-normal-color;
      }
    }
  }

  .links-list-item-selected:not(.special-links-list-item) {
    .links-list-item-label {
      @include label-link-high-color;
      z-index: 10;
    }
    .links-list-item-indicator-container .links-list-item-indicator {
      height: 19.5px;
      transform: translateY(-14px);
      @include indicator-high-color;
    }
  }

  .links-list-item-selected.special-links-list-item {
    background-color: $blue-tint-color !important;
    .links-list-item-label {
      color: white !important;
    }
  }

}