@import "../../Styles/Constant";

#navigation-bar {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  #navigation-bar-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 87.75px;
    padding-right: 87.75px;
    margin-top: -10%;
    // Todo navigation bar content 会跳动

    #blog-name-label {
      color: $label-color;
      font-size: 75px;
      letter-spacing: 0;
      text-align: center;
      user-select: none;
      margin-bottom: 0;
      cursor: pointer;
    }

    #links-list {
      margin-top: 5.25px;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
    }

  }

}

