@import "../../Styles/Constant";

#passage-page {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.passage-container {
  max-width: 995px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 81px;

  .passage-title-container {

  }

  .passage-content-container {
    margin-top: 49px;
    width: 100%;

    h1 {
      font-family: $font;
      color: $label-color;
      font-weight: normal;
      font-size: 28px;
      margin-bottom: 19.5px;
      line-height: 25.5px;
    }

    p {
      font-family: $font;
      color: $label-color;
      font-weight: normal;
      font-size: 17px;
      margin-bottom: 21px;
      line-height: 28px;
    }

    pre {
      background-color: red;
    }
  }
}