$mobile-navigation-bar-height: 101px;

$middle: 1024px;
$small: 774px;

$font: PingFangSC-Regular;
$code-font: code;

$blue-tint-color: #007aff;
$dark-style-tint-color-foreground: white;

$transition: 0.15s cubic-bezier(0.63, 0, 0.25, 1);
