@import "tailwindcss";
@import "tw-animate-css";
@plugin '@tailwindcss/typography';
@import "katex/dist/katex.min.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(38, 38, 38);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(38, 38, 38);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(38, 38, 38);
  --primary: rgb(255, 210, 48);
  --primary-foreground: rgb(70, 25, 1);
  --secondary: rgb(243, 244, 246);
  --secondary-foreground: rgb(75, 85, 99);
  --muted: rgb(249, 250, 251);
  --muted-foreground: rgb(107, 114, 128);
  --accent: rgb(254, 243, 198);
  --accent-foreground: rgb(146, 64, 14);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(229, 231, 235);
  --input: rgb(229, 231, 235);
  --ring: rgb(245, 158, 11);
  --chart-1: rgb(245, 158, 11);
  --chart-2: rgb(217, 119, 6);
  --chart-3: rgb(180, 83, 9);
  --chart-4: rgb(146, 64, 14);
  --chart-5: rgb(120, 53, 15);
  --sidebar: rgb(249, 250, 251);
  --sidebar-foreground: rgb(38, 38, 38);
  --sidebar-primary: rgb(245, 158, 11);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(255, 251, 235);
  --sidebar-accent-foreground: rgb(146, 64, 14);
  --sidebar-border: rgb(229, 231, 235);
  --sidebar-ring: rgb(245, 158, 11);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(23, 23, 23);
  --foreground: rgb(229, 229, 229);
  --card: rgb(38, 38, 38);
  --card-foreground: rgb(229, 229, 229);
  --popover: rgb(38, 38, 38);
  --popover-foreground: rgb(229, 229, 229);
  --primary: rgb(79, 57, 246);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: rgb(38, 38, 38);
  --secondary-foreground: rgb(229, 229, 229);
  --muted: rgb(38, 38, 38);
  --muted-foreground: rgb(163, 163, 163);
  --accent: rgb(30, 26, 77);
  --accent-foreground: rgb(198, 210, 255);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(64, 64, 64);
  --input: rgb(64, 64, 64);
  --ring: rgb(245, 158, 11);
  --chart-1: rgb(251, 191, 36);
  --chart-2: rgb(217, 119, 6);
  --chart-3: rgb(146, 64, 14);
  --chart-4: rgb(180, 83, 9);
  --chart-5: rgb(146, 64, 14);
  --sidebar: rgb(15, 15, 15);
  --sidebar-foreground: rgb(229, 229, 229);
  --sidebar-primary: rgb(245, 158, 11);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(146, 64, 14);
  --sidebar-accent-foreground: rgb(253, 230, 138);
  --sidebar-border: rgb(64, 64, 64);
  --sidebar-ring: rgb(245, 158, 11);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
