@import "../../Styles/Constant";

.passage-about {
  margin-top: 16px;
  display: flex;
  flex-direction: row;

  .passage-about-information {
    display: flex;
    flex-direction: row;

    .passage-information {
      &:nth-child(1) {
        margin-left: 0 !important;
      }
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 18px;

      .passage-information-icon {
        color: $label-secondary-color;
      }
      .passage-information-value {
        margin-left: 5px;
        color: $label-secondary-color;
        font-family: $font;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 0;
        cursor: pointer;
      }
    }
  }

  .passage-about-tags {
    display: flex;
    flex-direction: row;
    margin-left: 18px;

    .passage-tag {
      &:nth-child(1) {
        margin-left: 0 !important;
      }
      cursor: pointer;
      color: $label-secondary-color;
      font-family: $font;
      font-weight: bold;
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 0;
      margin-left: 18px;
      text-decoration: underline $label-secondary-color solid;
    }
  }
}