@import "../../styles/constant";
@import "../../styles/theme";

#snippet-page {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 102px;
  @media (max-width: $small) {
    padding-left: 13px;
    padding-right: 13px;
  }

  .snippet-list-container {
    // TODO 封装 list title
    .snippet-list-header-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 30px;
      margin-left: -100px; // TODO 优化

      .snippet-list-title {
        overflow: hidden;
        width: 100%;
        max-width: 995px;

        display: flex;
        opacity: 1;
        flex-direction: row;
        align-items: center;
        user-select: none;
        transition: $transition;

        @media (max-width: $middle) {
          align-items: start;
          margin-left: 0;
          flex-direction: column;
          & > * {
            margin-right: 0;
            margin-bottom: 16px;
          }
          & > *:last-child {
            margin-bottom: 0;
          }
        }
        @media (max-width: $small) {
          margin-top: 10px;
          margin-bottom: 0;
          margin-left: 0;
          align-items: start;
          flex-direction: column;
          & > * {
            margin-right: 0;
            margin-bottom: 16px;
          }
          & > *:last-child {
            margin-bottom: 0;
          }
        }

        & > * {
          margin-right: 32px;
        }
      }

      .snippet-list-title.passage-list-title-hide {
        opacity: 0;
        height: 0;
        margin-bottom: 0;
      }
    }

    .snippet-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 22px;
      padding-right: 22px;

      .snippet-item {
        margin-top: 22px;
        width: 100%;
      }
      .snippet-item:first-child {
        margin-top: 0;
      }
    }
  }

}
