@import "../../Styles/Constant";

#passage-list-page {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  #passage-list {
    margin-top: 102px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
