@import "../../Styles/Constant";
@import "../../Styles/Theme";

#passage-list-page {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 102px;
  @media (max-width: $small) {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: $mobile-navigation-bar-height + 10px;
  }

  .passage-list-container {

    .passage-list-title {
      display: flex;
      opacity: 1;
      flex-direction: row;
      align-items: center;
      user-select: none;
      margin-bottom: 30px;
      margin-left: 50px;
      transition: $transition;

      @media (max-width: $middle) {
        margin-left: 0;
      }
      @media (max-width: $small) {
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 20px;
      }

      h1 {
        @include label-secondary-color;
        font-family: $font;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 0;
      }

      .passage-list-title-content {
        @include lighten-high-text-background;
        border-radius: 7px;
        padding: 3.5px 14px;
        margin-right: 9px;
      }

      .passage-list-title-description {
        margin-right: 9px;
      }

      .passage-list-title-cancel {
        @include link-color;
      }
    }

    .passage-list-title.passage-list-title-hide {
      opacity: 0;
      height: 0;
      margin-bottom: 0;
    }

    .passage-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(0, 466px));
      justify-content: center;
    }
  }
}
