---
import CommonHeader, { type Props as CommonHeaderProps } from "@/components/CommonHeader.astro";
import SidebarNav from "@/components/sidebar-nav";
import Footer from "@/components/footer";
import "@/styles/global.css";
import TopLoaderVT from "@/components/TopLoaderVT.astro";
import { ClientRouter } from "astro:transitions";

type Props = {
  header: CommonHeaderProps;
};
const { header } = Astro.props;

// Determine if we're on the home page
const isHomePage = Astro.url.pathname === "/";

// get current route
const currentRoute = Astro.url.pathname;
---

<html lang="en" class="dark">
  <head>
    <CommonHeader title={header.title} description={header.description} />
    <TopLoaderVT />
  </head> 
  <body class="overflow-hidden">
    <div class="flex h-screen ">
      <SidebarNav
        isHome={isHomePage}
        currentRoute={currentRoute}
        client:load
        transition:name="slide"
        transition:persist
        transition:animate="none"
      />
      <main class="flex-1 overflow-y-auto md:ml-0" transition:name="main" transition:animate="none">
        <div class="min-h-full flex flex-col">
          <div class="flex-1">
            <slot />
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
