---
import "../styles/global.css";
const { content } = Astro.props;
import SidebarNav from "@/components/sidebar-nav";

// Determine if we're on the home page
const isHomePage = Astro.url.pathname === "/";

// get current route
const currentRoute = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>
  </head>
  <body class="overflow-hidden">
    <div class="flex h-screen">
      <SidebarNav isHome={isHomePage} currentRoute={currentRoute} client:load />
      <main class="flex-1 overflow-y-auto md:ml-0">
        <slot />
      </main>
    </div>
  </body>
</html>
