@import "../../Styles/Constant";

#not-found-page {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  @media (max-width: $small) {
    padding-top: $mobile-navigation-bar-height;
  }

  #not-found-page-content {
    height: 100%;
    padding-left: 78px;

    #not-found-page-explanation {
      display: inline-flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      height: 100%;

      h1 {
        font-family: $font;
        color: $label-color;
        font-size: 21px;
        font-weight: bold;
        margin: 0;
      }

      p {
        font-family: $font;
        color: $label-secondary-color;
        font-size: 16.5px;
        font-weight: normal;
        margin: 0;
      }
    }
  }

  #not-found-page-background {
    position: fixed;
    bottom: -170px;
    right: -30px;

    #not-found-page-background-label-text {
      font-size: 375px;
      line-height: 525px;
      margin: 0;
      font-family: $font;
      font-weight: bold;
      color: $transparent-text-color;
    }
  }
}